<div class="container">
	<div class="row">
		<div class="col-md-10 offset-md-1">
			<div class="pagination-container">
				<span class="page-number"><b>{{page}}</b>/{{pages}}</span>
				{{!-- Pagination --}}
				<nav class="pagination" role="navigation">
				    {{#if next}}
				        <a class="older-posts" href="{{page_url next}}"><b>Older <span>Posts</span></b></a>
				    {{/if}}
				    {{#if prev}}
				        <a class="newer-posts" href="{{page_url prev}}"><b>Newer <span>Posts</span></b></a>
				    {{/if}}
				</nav>
			</div>
		</div>
	</div>
</div>