{{!-- The tag below means - insert everything in this file into the {body} of the default.hbs template --}}
{{!< default}}

{{!-- The main content area --}}
<main id="content" role="main">
	{{#get "posts" filter="featured:true" limit="4"}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
		    	<div class="horz-accordion">
					<ul>
						{{#foreach posts}}
							<li {{#if @first}}class="active"{{/if}}>
								{{> "loop-featured"}}
							</li>
					    {{/foreach}}
					</ul>	
				</div>
			</div>
		</div>
	</div>
	{{/get}}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="loop">
					{{#foreach posts}}
						{{> "loop"}}
				    {{/foreach}}
				</div>
			</div>
		</div>
	</div>
</main>