/* ==========================================================================
   Table of Contents
   ========================================================================== */

/*

    0.  Normalize
    1.  General
    2.  Header
    3.  Inner Content
    4.  Author
    5.  Tags
    6.  Subscribe
    7.  Footer
    8.  Responsive

*/

/* ==========================================================================
   0. Normalize
   ========================================================================== */

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}
body { margin: 0; }
article, aside, details,
figcaption, figure,
footer, header,
main, menu, nav,
section, summary { display:block; }
audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
a { background-color: transparent;}
a:active, a:hover { outline: 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
h1 { font-size: 2em; margin: 0.67em 0; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 1em 40px; }
hr { box-sizing: content-box; height: 0; }
pre { overflow: auto; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"],
input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"],
input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; }
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend { border: 0; padding: 0; }
textarea { overflow: auto; }
optgroup { font-weight: bold; }
table{ border-collapse: collapse; border-spacing: 0; }
td, th{ padding: 0; }

/* ==========================================================================
   1. General
   ========================================================================== */

::selection {
    background: rgba(0, 0, 0, 0.2);
}
::-moz-selection {
    background: rgba(0, 0, 0, 0.2);
}

body{
    font-family: "stevie-sans", "Roboto", sans-serif;
    background: #fff;
    color: #000000;
    font-weight: normal;
}

a{
    color: #000000;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover{
    color: #000000;
    text-decoration: none;
}

input{
    color: #000;
    font-size: 17px;
    font-weight: bold;
    line-height: 21px;
    background: #fff;
    padding: 7px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
    border: 2px solid #000;
    width: 100%;
}

h1{
    font-size: 38px;
}

h2{
    font-size: 32px;
}

h3{
    font-size: 26px;
}

h4{
    font-size: 22px;
}

h5{
    font-size: 18px;
}

h6{
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 20px;
}

.btn{
    background: black;
    border-radius: 0;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

.loop h2{
    font-size: 40px;
    line-height: 49px;
}

.loop .post-date{
    font-size: 15px;
    color: #CCCCCC;
    line-height: 18px;
}

.loop article{
    height: 400px;
    display: flex;
    flex-direction: column;
}

.loop article:nth-child(2n) .row{
    flex-direction: row-reverse;
}

.loop article .row{
    display: flex;
    height: 100%;
}

.loop article .img-holder{
    height: 100%;
    display: flex;
    width: 100%;
}

.loop article .img-holder span{
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loop article .tags{
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 0;
    list-style-type: none;
    margin: 0 0 0 -5px;
    padding: 0;
}

.loop article .tags li{
    line-height: 14px;
    margin-top: 2px;
}

.loop article .tags li a{
    background-color: #000000;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 5px;
    display: inline-block;
}

.loop article .tags li a:before{
    content: '# ';
}

.loop article:nth-child(2n) .tags{
    margin-left: auto;
    margin-right: -5px;
    right: 0;
    left: auto;
}

.loop article .box-img{
    height: 100%;
    position: relative;
    margin-left: -15px;
    width: calc(100% + 15px);
    background: #f9fafb;
}

.loop article .box-img .excerpt{
    padding: 60px 80px 60px 40px;
    font-size: 22px;
    font-weight: 300;
    line-height: 34px;
}

.loop article:nth-child(2n) .box-img .excerpt{
    padding-left: 60px;
}

.loop article .line-t,
.loop article .line-b,
.loop article .line-l{
    background-color: #ccc;
    position: absolute;
    top: 20px;
    left: 0;
    width: calc(100% - 20px);
    height: 1px;
}

.loop article .line-b{
    top: auto;
    bottom: 20px;
}

.loop article .line-l{
    width: 1px;
    height: calc(100% - 40px);
    right: 20px;
    left: auto;
}

.loop article .box-content{
    height: 100%;
    position: relative;
    overflow: hidden;
    margin-right: -15px;
    width: calc(100% + 15px);
    padding: 60px 80px 60px 60px;
    display: flex;
    flex-direction: column;
}

.loop article .box-content .post-meta{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.loop article .box-content .post-meta .author-name{
    margin-top: auto;
    font-size: 15px;
    color: #CCCCCC;
    line-height: 18px;
}

.loop article .box-content .post-meta .author-name a{
    color: #CCCCCC;
}

.loop article .box-content .line-t,
.loop article .box-content .line-b{
    left: 20px;
}

.loop article .box-content .line-l{
    right: auto;
    left: 20px;
}

.loop article:nth-child(2n) .box-img{
    margin-right: -15px;
    margin-left: 0;
}

.loop article:nth-child(2n) .box-img .line-t,
.loop article:nth-child(2n) .box-img .line-b{
    left: 20px;
}

.loop article:nth-child(2n) .box-img .line-l{
    right: auto;
    left: 20px;
}

.loop article:nth-child(2n) .box-content{
    margin-left: -15px;
    padding-left: 40px;
}

.loop article:nth-child(2n) .box-content .line-l{
    right: 20px;
    left: auto;
}

.loop article:nth-child(2n) .box-content .line-t,
.loop article:nth-child(2n) .box-content .line-b{
    left: auto;
    right: 20px;
}

header{
    min-height: 100px;
    display: flex;
}

header .row{
    display: flex;
    height: 100%;
}

header .row .col-6{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

header .blog-logo{
    font-size: 30px;    
    font-weight: bold;  
    line-height: 37px;
    text-transform: uppercase;
    padding-left: 50px;
}

header .row .btns{
    justify-content: flex-end;
    padding-right: 50px;
}

header .row .btns a{
    margin-left: 10px;
}

header .row .btns img{
    width: 25px;
    height: auto;
}

h1.post-title{
    font-size: 70px;
    font-weight: bold;
    line-height: 86px;
    color: #000000;
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100% - 20px);
    margin-top: 0;
    position: relative;
    z-index: 9;
}

h1.post-title span{
    background-color: #fff;
    box-shadow: 10px 0 0 #fff, -10px 0 0 #fff;
}

.post-cover{
    padding: 200px 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.post-cover:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}

.post-cover .post-date{
    font-size: 25px;    
    line-height: 31px;
    color: #fff;
    position: relative;
    z-index: 9;
}

.post-content{
   padding: 80px 100px 220px 100px;
    background: #fff;
    margin-top: -80px;
    z-index: 2;
    position: relative; 
}

.post-content p{
    font-size: 22px;    
    line-height: 34px;
}

.post-content ul,
.post-content ol{
    padding-left: 20px;
}

.post-content li{
    font-size: 22px;    
    line-height: 34px;
}

.post-cover .line-t,
.post-cover .line-r,
.post-cover .line-l{
    background-color: #ccc;
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    z-index: 9;
}

.post-cover .line-r{
    top: 20px;
    left: auto;
    right: 20px;
    width: 1px;
    height: calc(100% - 20px);
}

.post-cover .line-l{
    width: 1px;
    height: calc(100% - 20px);
}

.post-content-container{
    position: relative;
}

.post-content-container .line-b,
.post-content-container .line-r,
.post-content-container .line-l{
    background-color: #ccc;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
    height: 1px;
    z-index: 9;
}

.post-content-container .line-r{
    top: 0;
    bottom: auto;
    right: 35px;
    width: 1px;
    height: calc(100% - 20px);
    left: auto;
}

.post-content-container .line-l{
    bottom: auto;
    width: 1px;
    height: calc(100% - 20px);
    top: 0;
    left: 35px;
}

.post-content-container .line-b{
    left: 35px;
    width: calc(100% - 70px);
}

.author{
    border: 1px solid #CCCCCC;
    max-width: 400px;
    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 50px 30px 50px 80px;
    background-color: #fff;
    position: relative;
    margin-top: -150px;
    z-index: 12;
}

.author h3{
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    position: relative;
}

.author h3:before{
    content: '—';
    position: absolute;
    top: 0px;
    left: -20px;
    font-size: 15px;
}

.author p{
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
}

.author .author-image{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 30px;
    left: -30px;
    margin: 0;
    z-index: 2;
}

.author .author-image img{
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
    border: 1px solid #cccccc;
}

.author .author-content{
    position: relative;
    z-index: 2;
}

.author .author-meta{
    font-size: 12px;
    font-weight: 300;
    line-height: 21px;
}

.author .author-meta a{
    margin-right: 15px;
}

.comments-trigger{
    border: 1px solid #CCCCCC;
    background-color: #fff;
    width: 60px;
    height: 60px;
    font-size: 18px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 60px;
    position: absolute;
    bottom: -10px;
    z-index: 22;
    margin-left: 100px;
}

.comments-trigger.active{
    border: 1px solid #000000;
}

.comments{
    border: 1px solid #CCCCCC;
    padding: 100px;
    margin: 100px 0;
    display: none;
}

.comments.active{
    display: block;
}

.author-template .author{
    margin: 50px 0 50px;
    max-width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    border: none;
}

.author-template .author .line-t,
.author-template .author .line-b,
.author-template .author .line-l,
.author-template .author .line-r{
    height: 1px;
    top: 20px;
    z-index: 10;
    left: 20px;
    width: calc(100% - 40px);
    position: absolute;
    background: #ccc;
}

.author-template .author .line-b{
    top: auto;
    bottom: 20px;
}

.author-template .author .line-l,
.author-template .author .line-r{
    width: 1px;
    height: calc(100% - 40px);
}

.author-template .author .line-r{
    left: auto;
    right: 20px;
}

.author-template .author .author-image{
    top: 80px;
    left: -10px;
    z-index: 22;
}

.author-template .author h3{
    font-size: 24px;
}

.author-template .author h3:before{
    display: none;
}

.horz-accordion{
    margin-bottom: 80px;
}

.horz-accordion ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0;
}
.horz-accordion ul li {
    position: relative;
    overflow: hidden;
    flex: 1;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-right: 1px solid #fff;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.horz-accordion ul li:last-child{
    border: none;
}
.horz-accordion ul li article:before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
}
.horz-accordion ul li article .feature-img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: left center;
    min-width: 1000px;
}
.horz-accordion ul li:not(.active){
    cursor: pointer;
}
.horz-accordion ul li.active{
    flex: 5;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.horz-accordion ul li article{
    width: 100%;
    position: relative;
    display: flex;
    height: 100%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;    
}
.horz-accordion ul li article .row{
    display: flex;
    width: 100%;
    margin: 0;
}
.horz-accordion ul li article h2{
    position: absolute;
    top: calc(100% + 20px);
    z-index: 2;
    font-size: 20px;    
    font-weight: bold;  
    line-height: 24px;
    left: 75px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.horz-accordion ul li.active article h2{
    opacity: 1;
}
.horz-accordion ul li article .post-meta{
    font-size: 15px;
    color: #CCCCCC;
    line-height: 18px;
    position: absolute;
    top: calc(100% + 60px);
    z-index: 2;
    left: 75px;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}
.horz-accordion ul li.active article .post-meta{
    opacity: 1;
}
.horz-accordion ul li.active article{
    height: calc(100% - 105px);
}
.horz-accordion ul li .nr{
    font-size: 69px;
    font-weight: 300;
    line-height: 84px;
    position: absolute;
    left: 30px;
    color: #fff;
    z-index: 2;
    top: 100%;
    transform: translateY(calc(-100% - 15px));
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.horz-accordion ul li.active .nr{
    top: 15px;
    transform: none;
}

.horz-accordion ul li .prev{
    position: absolute;
    top: calc(100% + 20px);
    left: 30px;
}

.horz-accordion ul li .next{
    position: absolute;
    top: calc(100% + 60px);
    right: 30px;
}

footer{
    padding: 100px 0 25px;
}

footer .tags{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

footer .tags li{
    display: inline-block;
}

footer .tags li a{
    color: #FFFFFF; 
    font-size: 17px;    
    font-weight: bold;  
    line-height: 21px;
    background: #000;
    padding: 9px 10px;
    text-transform: uppercase;
    margin-right: 10px;
    margin-bottom: 10px;
    display: block;
}

footer .tags li a:before{
    content: '#';
}

footer .copyright{
    margin-top: 100px;
}

.gh-signin{
    position: relative;
}

.gh-signin .btn{
    position: absolute;
    top: 0;
    right: 0;
}

header .modal-footer{
    border: none;
    justify-content: center;
    min-height: 150px;
}

header #search-field{
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    color: #262626;
    margin-top: 50px;
    background: #efefef;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border: none;
}

header #search-field:focus{
    outline: 0;
}

header h5{
    margin-top: 60px;
    margin-bottom: 10px;
    background-color: #000000;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 5px;
    display: inline-block;
}

header h5:before{
    content: '#';
}

.modal-open .modal{
    overflow-y: scroll;
}

.modal .modal-body{
    padding: 0;
}

#menu .modal-body{
    display: flex;
    align-items: center;
}

.modal-backdrop.show{
    opacity: 0;
}

.fade-scale {
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.fade-scale.show {
    opacity: 1;
}

.modal{
    padding-right: 0 !important;
}

.modal h3{
    font-size: 15px;
    letter-spacing: 5px;
    color: #262626;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    padding: 25px;
    border-bottom: 1px solid rgba(185, 178, 162, 0.15);
    margin: 0;
    font-weight: normal;
}

.modal .modal-content{
    border: none;
    background-color: rgba(255, 255, 255, 0.98);
}

.modal .modal-dialog{
    max-width: 100%;
    margin: 0;
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.modal .modal-dialog .modal-content{
    width: 100%;
    border-radius: 0;
    min-height: 100vh;
}

.list-box{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list-box li{
    padding: 25px 20px 25px 58px;
    width: calc(33.33% - 5px);
    margin-bottom: 10px;
    position: relative;
}

.list-box li time{
    color: #CCCCCC;
    font-size: 15px;
    line-height: 18px;
    display: block;
    font-weight: normal;
    margin-bottom: 5px;
}

.list-box li a{
    font-size: 40px;
    font-weight: bold;
    line-height: 49px;
    color: #262626;
}

header .blog-logo{
    text-align: center;
}

header .blog-logo a{
    color: #333333;
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    display: inline-block;
}

header .blog-logo a span{
    padding: 30px 0;
    display: inline-block;
}

header .blog-logo a:hover{
    color: #E83030;
}

header .blog-logo a img{
    max-width: 250px;
    max-height: 150px;
    padding: 30px 0;
}

header .modal .blog-logo{
    color: #AAA391;
}

.modal-header{
    padding: 0;
    border: none;
}

.read-later{
    position: absolute;
    top: 25px;
    left: 20px;
    border: 1px solid #cccccc;
    width: 18px;
    height: 18px;
}

.read-later:before{
    content: '';
    width: 10px;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    margin-top: -5px;
    background: #000000;
    transform: scale(0);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.read-later:hover:before{
    transform: scale(.6);
}

.read-later.active:before{
    transform: scale(1);
}

.read-later.active:hover:before{
    transform: scale(.8);
}

@media (min-width: 1200px){
    .container {
        max-width: 1440px;
    }
}